@model DAS.Models.ZaNas

@{
    ViewBag.Title = "View";

}

    <body>

        <div>
            <div>
                <h4>Добредојдовте на нашиот сајт</h4>
            </div>
            <div>
                <p>
                    Овој сајт претставува едноставно пребарување на локации за хотели, локали, барови,
                    пекари, продавници за облека, како и фризерски салони кои се наоѓаат на територијата на
                    град Скопје
                </p>
            </div>
            <div id="desno">
                <div id="lokali">
                    <ul id="selectable">
                        <li>Хотели</li>
                        <li>Кафулиња</li>
                        <li>Пекари</li>
                        <li>Фризерски салони</li>
                        <li>Продавници за облека</li>
                    </ul>
                    <div id="skopje">
                        <img src="images/skopje.png" width="300px" height="200px">
                    </div>
                </div>
            </div>
        </div>

    </body>

